 .container {           // 1200
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;

  @include vp-1023 {   // 768-1023
    padding: 0 20px;
  }

  @include vp-767 {    // 375-767
    padding: 0 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

