@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
       url('../fonts/exo2.woff2') format('woff2'),
       url('../fonts/exo2.woff') format('woff');
}

@font-face {
  font-family: 'Trebuchetms';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
       url('../fonts/trebuchetms.woff2') format('woff2'),
       url('../fonts/trebuchetms.woff') format('woff');
}
