.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.main {
  display: flex;
  background-image: url('../img/Pattern.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: $color-default-black;
}

@media (min-resolution: 2dppx) {
  .main {
    background-image: url("../img/Pattern@2x.png");
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: $color-default-white;
  font-family: "Trebuchetms", "Arial", sans-serif;

  @include vp-1023 {
    font-size: 18px;
    line-height: 25.2px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19.6px;
  }
}

.no-scroll {
  overflow: hidden;
}

