.link {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: $color-pacific-blue;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
}


@media (hover: hover), screen and (min-width: 0\0) {
  .link:hover,
  .link:focus {
    opacity: 0.5;
  }
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 1px dashed $color-pacific-blue;
  left: 0;
  height: 1px;
  width: 85%;
}
