.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  margin: 0;
  text-shadow: 0px 1px 1px $color-default-black;
  color: $color-default-white;
  font-family: "Exo2", "Arial", sans-serif;
}

